.container {
    width: 1024px;
    margin-right: auto;
    margin-left: auto;
}

.title {
    margin-bottom: 20px;
}

.movieList {
    margin-top: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movieList li {
    margin-right: 10px;
    margin-bottom: 20px;
    width: 220px
}

.image {
    transition: all .2s ease-in-out;
}

.image:hover {
    transform: scale(1.05);
}

.movieTitle {
    display: inline-block;
    font-weight: 700;
    margin-top: 5px;

}